<div class="example-container">
  <mat-card class="matcard-container">
    <h4 class="box-title fonte">Relatório Fucionário - Aniversáriantes por Período:</h4>
    <br>
    <form #formFuncionario="ngForm">
      <div class="row form-group">

        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dataInicialFunc" placeholder="Data Inicial"
            [(ngModel)]="dataInicialFuncionario" name="dataInicialFuncionario" required>
            <mat-datepicker-toggle matSuffix [for]="dataInicialFunc"></mat-datepicker-toggle>
            <mat-datepicker #dataInicialFunc></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dataFinalFunc" placeholder="Data Final"
            [(ngModel)]="dataFinalFuncionario"  name="dataFinalFuncionario" required>
            <mat-datepicker-toggle matSuffix [for]="dataFinalFunc"></mat-datepicker-toggle>
            <mat-datepicker #dataFinalFunc></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class=" pull-left">
        <button mat-raised-button color="primary" (click)="buscarRelatorioAniversariantes()"
        [disabled]="formFuncionario.invalid">Gerar Relatório</button>
      </div>
    </form>
  </mat-card>

  <mat-card class="matcard-container">
    <h4 class="box-title fonte">Relatório Veículos - Veículos Ativos por Período:</h4>
    <br>
    <form #formVeiculo="ngForm">
      <div class="row form-group">

        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dataInicialV" placeholder="Data Inicial"
            [(ngModel)]="dataInicialVeiculo" name="dataInicialVeiculo" required>
            <mat-datepicker-toggle matSuffix [for]="dataInicialV"></mat-datepicker-toggle>
            <mat-datepicker #dataInicialV></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dataFinalV" placeholder="Data Final"
            [(ngModel)]="dataFinalVeiculo"  name="dataFinalVeiculo" required >
            <mat-datepicker-toggle matSuffix [for]="dataFinalV"></mat-datepicker-toggle>
            <mat-datepicker #dataFinalV></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class=" pull-left">
        <button mat-raised-button color="primary" (click)="buscarRelatorioVeiculosAtivos()"
        [disabled]="formVeiculo.invalid">Gerar Relatório</button>
      </div>
    </form>
  </mat-card>


</div>
