.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 14pt;

}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.form-container{
  margin-left: 2%;
  margin-top: 2%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14pt;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.fonte {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-column-botoes{
  width: 6% !important;
}

.mat-column-FileName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.form-container{
  margin-left: 2%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {

  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.fonte {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}



.example-tooltip-red {
  background: #b71c1c;
}

.matcard-container {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.pointer {
  cursor: pointer;
}



.bottom-right{
  right: 2%;
  }
