<div class="example-container">
  <mat-card class="matcard-container">
    <h4 class="box-title fonte text-center">Aplicação apresentada como prova prática a Empresa Courart Informática</h4>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive" src="assets/CourarImagem.png" alt="Imagem"/>
            </div>
        </div>
    </div>
    <br>
    <h4 class="box-title fonte text-center">
      <p>Cadastro de Funcionários e Veículos</p>
    </h4>
    <h5 class="box-title fonte text-center">
      <br>
      <p>Exemplo da utilização das Tecnologias:</p>
    </h5>
    <div class="box-title fonte text-center">
      <p>
        <b>Back-end:</b> API Rest Java com a utilização do framework Spring(MVC, Boot, Data), JPA/Hibernate, Maven,
        JasperReports.
      </p>
      <p>
        <b>Front-end:</b> Angular 8, Angular Material e Bootstrap.
      </p>
      <p>
        <b>Banco de dados:</b> Postgres SQL.
      </p>
      <p>
        <b>Servidor de Aplicação:</b> Apache Tomcat.
      </p>
    </div>
  </mat-card>

</div>
